@charset "UTF-8";
/*encabezado y pie de páginas colores y radiales*/
/*body en todas las páginas*/
/*para formulario de contacto*/
/*configuración encabezado*/
header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fefffe;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: small;
  /*enlaces menu*/ }
  header .encabezado__imagenes {
    margin-top: 10px;
    margin-bottom: 10px; }
    header .encabezado__imagenes #encabezado__imagenes--logo {
      width: 50%;
      height: 70%;
      align-items: center;
      transition: 2s;
      margin: 5px; }
    header .encabezado__imagenes #encabezado__imagenes--logo:hover {
      transform: scale(1.5, 1.5); }
    header .encabezado__imagenes #encabezado__imagenes--redes {
      width: 30%;
      height: 30%;
      align-items: flex-end;
      transition: 2s;
      margin-top: 15px; }
    header .encabezado__imagenes #encabezado__imagenes--redes:hover {
      transform: scale(2, 2); }
  header .encabezado__menu {
    background: #2c60d3;
    background: linear-gradient(90deg, #2c60d3 0%, #3bd8ea 100%); }
    header .encabezado__menu .boton, header .encabezado__menu .menu__boton, header .encabezado__menu .menu__boton--submenu, header .encabezado__menu .menu__boton--submenu:hover {
      margin-left: 15px;
      margin-right: 15px; }
    header .encabezado__menu .menu__boton a, header .encabezado__menu .menu__boton--submenu a, header .encabezado__menu .menu__boton--submenu:hover a {
      color: white; }
    header .encabezado__menu .menu__boton--submenu {
      background-color: #2c60d3;
      background: linear-gradient(90deg, #2c60d3 0%, #3bd8ea 100%); }
    header .encabezado__menu .menu__boton--submenu:hover a {
      color: black; }
  header h1 {
    font-size: larger;
    text-align: center;
    color: #d1e0d6; }

/*contenedor general*/
.contenedor, .contenedorColumna, .contenedorFila {
  margin: 10px;
  padding: 10px;
  align-items: center;
  /*fuentes*/
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: medium; }

/*contenedores columna*/
.contenedorColumna {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  /*listas contenedores columna*/ }
  .contenedorColumna a {
    color: darkblue;
    font-size: medium; }
  .contenedorColumna ul.contenedorColumna__lista {
    list-style: none;
    text-align: center;
    /*item de los contenedores columnas*/
    /*precio de los contenedores columnas*/
    /*titulo de los contenedores columnas*/
    /*titulo grande de los contenedores columnas*/ }
    .contenedorColumna ul.contenedorColumna__lista li.lista__item--item--comun {
      background-color: aliceblue;
      align-items: center; }
      .contenedorColumna ul.contenedorColumna__lista li.lista__item--item--comun p {
        color: #304608; }
    .contenedorColumna ul.contenedorColumna__lista li.contendorColumna__item--precio {
      color: white;
      background-color: #082546;
      width: 80%; }
    .contenedorColumna ul.contenedorColumna__lista li.contenedorColumna__item--titulo {
      background-color: #6497F5; }
      .contenedorColumna ul.contenedorColumna__lista li.contenedorColumna__item--titulo p {
        color: #082546;
        font-size: large; }
    .contenedorColumna ul.contenedorColumna__lista li.contenedorColumna__itemTituloGrande {
      background-color: #6497F5; }
      .contenedorColumna ul.contenedorColumna__lista li.contenedorColumna__itemTituloGrande p {
        color: #082546;
        font-size: larger; }

/*contenedores fila*/
.contenedorFila {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  color: black;
  /*fuentes*/
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: medium; }
  .contenedorFila ul.contenedorFila__lista {
    list-style: none;
    background-color: #99c8d6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }

.paginas__galeria {
  color: #e9f5e9; }
  .paginas__galeria img.paginas__galeria--primerafila {
    width: 80%;
    height: 70%; }
  .paginas__galeria img.paginas__galeria--primerafila:hover {
    transform: scale(2); }
  .paginas__galeria img.paginas__galeria--segundafila {
    width: 90%;
    height: 100%; }
  .paginas__galeria img.paginas__galeria--segundafila:hover {
    transform: scale(2); }
  .paginas__galeria img.paginas__galeria--gim {
    width: 100%;
    height: 100%; }
  .paginas__galeria img.paginas__galeria--gim:hover {
    transform: scale(2); }

/*configuración de pie de página*/
#pie {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: #A8CF45;
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: large; }
  #pie p {
    margin-left: 0px;
    margin-right: 0px; }
  #pie #pie__imagenes--logoPuna {
    margin-left: 0px;
    margin-right: 0px;
    width: 30%;
    height: 50%;
    align-items: center;
    transition: 2s;
    margin: 5px; }
  #pie #pie__imagenes--logoPuna:hover {
    transform: scale(1.5, 1.5); }

/**responsive**/
@media (min-width: 770px) and (max-width: 990px) {
  body {
    font-size: small; }
  .encabezado__imagenes {
    margin-top: 10px;
    margin-bottom: 10px; }
    .encabezado__imagenes #encabezado__imagenes--logo {
      width: 40%;
      height: 60%;
      align-items: center;
      margin: 5px; }
    .encabezado__imagenes #encabezado__imagenes--redes {
      width: 20%;
      height: 20%;
      align-items: flex-end;
      margin-top: 15px; }
  .novedades img.novedades__img {
    display: none; }
  .contenedorFila {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    color: black;
    list-style: none; }
  img.inscripcion__imagen {
    display: none; } }

@media (max-width: 700px) {
  body {
    font-size: smaller; }
  #pie {
    display: flex;
    flex-direction: column;
    font-size: smaller; }
  header {
    font-weight: normal;
    font-size: small;
    display: flex;
    flex-direction: column; }
    header #encabezado__imagenes--logo {
      display: none; }
  img.inscripcion__imagen {
    display: none; } }

/*contenedor contacto*/
.contacto__contenedor {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-family: 'Roboto';
  border-bottom: 3px solid #416fb9;
  /*texto para el formulario de contacto - Minuscula*/ }
  .contacto__contenedor legend {
    color: #A8CF45;
    font-size: medium; }
  .contacto__contenedor .contacto__textoMayuscula {
    text-transform: uppercase; }
  .contacto__contenedor .contacto__textoMinusculas {
    text-transform: lowercase; }
  .contacto__contenedor .contacto__grupo {
    border-bottom: 3px solid #416fb9;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    color: #416fb9;
    font-size: medium; }
    .contacto__contenedor .contacto__grupo .contacto__titulo {
      font-size: large; }
    .contacto__contenedor .contacto__grupo fieldset input {
      margin: 10px;
      padding: 5px; }
    .contacto__contenedor .contacto__grupo fieldset label {
      margin: 10px;
      padding: 5px; }
  .contacto__contenedor .contacto__botones {
    padding: 20px;
    margin: 20px; }
    .contacto__contenedor .contacto__botones input {
      color: white;
      background-color: #A8CF45;
      padding-left: 20px;
      padding-right: 20px; }

* {
  margin: 0;
  padding: 0; }

body {
  background: #fefffe;
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: large;
  text-align: center; }
  body h1 {
    margin-top: 10px;
    padding-top: 10px;
    font-size: larger;
    text-align: center;
    color: #A8CF45;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: larger; }
  body h2 {
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    color: #A8CF45;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: large; }
  body h3 {
    margin-top: 10px;
    padding-top: 10px;
    font-size: medium;
    text-align: center;
    color: #A8CF45;
    font-weight: bold;
    font-family: 'Roboto';
    align-items: center; }
  body img.imagenes__profes {
    width: 80%;
    height: 80%; }
  body .principal__contenido {
    align-items: center; }
    body .principal__contenido p {
      text-align: center; }
    body .principal__contenido #carousel__contenedor {
      margin-top: 850px;
      padding: 10px;
      margin: 10px;
      align-items: center; }
    body .principal__contenido .carousel-inner img {
      width: 100%;
      height: 100%;
      align-items: center; }
  body section {
    padding: 20px;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px; }
    body section span {
      padding-top: 50px;
      margin-top: 40px;
      text-align: justify;
      color: #2c60d3; }
    body section .galeria {
      color: #e9f5e9;
      padding: 20px;
      margin: 20px; }
      body section .galeria img.galeria__img {
        width: 100%;
        height: 100%; }
  body .inscripciones {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    padding: 20px;
    margin: 20px; }
    body .inscripciones a {
      background: #2c60d3;
      color: #A8CF45;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-name: aumentar__inscripcion; }
  body .novedades {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    padding: 20px;
    margin: 20px;
    color: #2C60D3;
    border-bottom: 3px solid #416fb9;
    border-top: 3px solid #416fb9; }
    body .novedades img.novedades__img {
      width: 100%;
      height: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      align-items: center; }
    body .novedades .boton, body .novedades header .encabezado__menu .menu__boton, header .encabezado__menu body .novedades .menu__boton, body .novedades header .encabezado__menu .menu__boton--submenu, header .encabezado__menu body .novedades .menu__boton--submenu {
      background-color: #A8CF45;
      font-size: medium;
      font-family: 'Roboto'; }
  body .camino {
    margin-top: 10px; }
  body img.inscripcion__imagen {
    width: 30%;
    height: 30%; }
  body .titulo {
    margin-top: 10px;
    padding: 10px;
    background-color: #5f96e6;
    color: #e9f5e9; }

@keyframes aumentar__inscripcion {
  0% {
    color: #A8CF45;
    background-color: #2c60d3;
    font-size: small; }
  25% {
    color: #95eb95;
    background-color: #2c60d3;
    font-size: medium;
    scale: 0, 1; }
  75% {
    color: #2C60D3;
    background-color: #A8CF45;
    font-size: medium;
    scale: 0, 2; }
  100% {
    color: #2C60D3;
    background-color: #A8CF45;
    font-weight: bold;
    font-family: 'Roboto';
    scale: 0, 3; } }
