/*configuración encabezado*/

header
{
   
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $colorBody;


    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    color:$colorLetraEncabezado;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: small;

    .encabezado__imagenes
    {
        margin-top: 10px;
        margin-bottom: 10px;
        #encabezado__imagenes--logo
        {
            width: 50%; 
            height: 70%;
            align-items: center;
            transition: 2s;
            margin:5px;
        }
        #encabezado__imagenes--logo:hover
        {
            transform: scale(1.5,1.5);
        }

        #encabezado__imagenes--redes
        {
            width: 30%; 
            height: 30%;
            align-items: flex-end;
            transition: 2s;
            margin-top:15px;
        }
        #encabezado__imagenes--redes:hover
        {
            transform: scale(2,2);
        }
    }
    .encabezado__menu
    {
        background: $colorEncabezado;
        background: $radialEncabezado;
        .boton
        {
            margin-left:15px;
            margin-right: 15px;           
        }
    
        .menu__boton
        {
        @extend .boton;
            a
            {color:white;}
            
        }

        .menu__boton--submenu
        {
            @extend .menu__boton;
              
            background-color: $colorEncabezado;
            background: $radialEncabezado;

        }

        .menu__boton--submenu:hover
        {
            @extend .menu__boton;
            a
            {color:black;}
        }
    }
    
    /*enlaces menu*/
   
    h1
    {
        font-size: larger;
        text-align: center;
        color:rgb(209, 224, 214);
    }
}