/**responsive**/

@media (min-width: 770px) and (max-width: 990px)
{
   
    body
    {
       
        font-size: small;
    }

    .encabezado__imagenes
    {
        margin-top: 10px;
        margin-bottom: 10px;
        #encabezado__imagenes--logo
        {
            width: 40%; 
            height: 60%;
            align-items: center;
            margin:5px;
        }
 
        #encabezado__imagenes--redes
        {
            width: 20%; 
            height: 20%;
            align-items: flex-end;
            
            margin-top:15px;
        }
      
    }
  
    .novedades
    {
        
        img.novedades__img
        {
        display: none;
        }  
    }

    .contenedorFila
    {
        display:flex;
        flex-direction: column;
        margin: 20px;
        padding: 20px;
        color: black;
        list-style: none;
    }

    img.inscripcion__imagen
    {
        display: none;
    }
}

@media(max-width:700px)
{

    body
    {
        font-size: smaller;
    }
    
    #pie 
    {
          
        display: flex;
        flex-direction: column;
        font-size: smaller;
    }

    header
    {
        font-weight: normal;
        font-size: small;
        display: flex;
        flex-direction: column;
  
        #encabezado__imagenes--logo
        {
            display: none;
        }
    }    

    img.inscripcion__imagen
    {
        display: none;
    }
}