/*encabezado y pie de páginas colores y radiales*/
$colorLetraEncabezado: #fff;
$colorLetraPie: #fff;

$colorEncabezado: rgb(65,111,185);
$colorPie: rgb(65,111,185);

$radialEncabezado: radial-gradient(circle, rgba(65,111,185,1) 30%, rgba(112,227,111,1) 67%, rgba(2,0,36,1) 98%);
$radialPie: radial-gradient(circle, rgba(65,111,185,1) 30%, rgba(112,227,111,1) 67%, rgba(2,0,36,1) 98%);

/*body en todas las páginas*/
$colorBody: #416fb9;

/*para formulario de contacto*/
$textoMayuscula: uppercase;
$textoMinuscula: lowercase;













