/*encabezado y pie de páginas colores y radiales*/
$colorLetraEncabezado: #fff;
$colorLetraPie: #A8CF45;

$colorEncabezado: rgb(44,96,211);
$colorPie: rgb(65,111,185);

$radialEncabezado: linear-gradient(90deg, rgba(44,96,211,1) 0%, rgba(59,216,234,1) 100%);
$radialPie: linear-gradient(90deg, rgba(44,96,211,1) 0%, rgba(59,216,234,1) 100%);

/*body en todas las páginas*/
$colorBody: #fefffe;

/*para formulario de contacto*/
$textoMayuscula: uppercase;
$textoMinuscula: lowercase;













